<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	bootstrap="tests/unit/bootstrap.php"
	colors="true"
	beStrictAboutOutputDuringTests="true"
	beStrictAboutChangesToGlobalState="true"
	backupGlobals="true"
	backupStaticAttributes="true"
	processIsolation="true"
	stopOnError="true"
	stopOnFailure="true"
>
	<testsuites>
		<testsuite name="unit tests">
			<directory suffix="Test.php">tests/unit</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist>
			<directory suffix=".php">./includes</directory>
			<file>./</file>
		</whitelist>
	</filter>

</phpunit>
